/*
	@name untitled
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1920px;  margin-left: auto; margin-right: auto;  }

#content-container > div{ position: relative; top:inherit; }
#page_home_ek1 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
}

#_bg__home_ek2 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	background:rgba(255,255,255,1);
}


#rectangle_1 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 102px;
	background:rgba(196,196,196,1);
}


#_brain_basket_1 {
	top: 6px !important;
	position: absolute !important;
	left: 23px;
	width: 90px;
	height: 90px;
	background:url(skins/_brain_basket_1.png);
	background-size:cover;
}


#home_ek3 {
	top: 30px;
	left: 854px;
	width: 120px;
	height: 67px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#books {
	top: 30px;
	left: 1603px;
	width: 124px;
	height: 67px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#courses {
	top: 30px;
	left: 1420px;
	width: 156px;
	height: 67px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#blogs {
	top: 30px;
	left: 1001px;
	width: 114px;
	height: 67px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#qna {
	top: 30px;
	left: 1142px;
	width: 92px;
	height: 67px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#account {
	top: 30px;
	left: 1754px;
	width: 157px;
	height: 67px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#library {
	top: 30px;
	left: 1261px;
	width: 132px;
	height: 67px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 36px;
	text-align: left;
	color:#000000;
}



/* Add your custom CSS here */
